@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes appear {
  from { opacity: 0; scale: 0.8; }
  to { opacity: 1; scale: 1; }
}

@keyframes fade {
  from { opacity: 0.5 }
  to { opacity: 1; }
}

.appear {
  animation: appear linear both;
  animation-timeline: view();
  animation-range: entry 25% cover 45%;
}

.appear-fade {
  animation: fade linear both;
  animation-timeline: view();
  animation-range: entry 85% cover 45%;
}

.grid-test {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1rem;
}

svg#homepage-svg path {
  animation: all 2s ease-in-out forwards;
  fill: transparent;
}